:root {
  --color-principal: #286c9c;
  --color-secundario: #326285;

  --background-color-btn: #8cbc00;
  --background-color-btn-hover: #628008;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  line-height: 2;
  font-family: 'Raleway', sans-serif;
  
}
/**  Globales **/
a {
  text-decoration: none;
  color: #000;
}
img {
  max-width: 100%;
  display: block; /*se coloca para que img tome todo el espacio disponible */
}
h1,
h2,
h3 {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 0 2rem 0; 
}
h1 { font-size: 3.6rem }
@media (min-width: 768px) {
  h1 { font-size: 5rem; }
}

h2 {
  font-size: 2.4rem;
}
@media (min-width: 768px) {
  h2 { font-size:4rem }  
}

h3 {
  font-size: 1.8rem;
}
@media (min-width: 768px) {
  h3 { font-size:3rem }  
}
.btn { 
  background-color: var( --background-color-btn);
  text-transform: uppercase;
  color: #fff;
  padding: .9rem 2rem;
  border: none;
  margin-bottom: 2rem;
  display: block;
  font-weight: 700;
  transition: background-color .3s ease;
  text-align: center;
}
.btn:hover {
  background-color: var(--background-color-btn-hover);
  cursor: pointer;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  /*width: 75%;*/ 
}
.nombre-sitio {
  margin-top: 5rem;
  text-align: center;
}
.nombre-sitio span {
  color: #037bc0;
}
/************************UTILS ***********************************/
.text-center {
  text-align: center;
}
.mp-5 {
  padding: 3rem 0;
}
.max-width-30 {
  max-width: 30rem;
}

/**############## Navegacion ####################### */
.nav-principal {
  border-top: 1px solid rgb(212, 211, 211);
  width: 75%;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 1s ease-in-out;
}
.nav-principal a:hover {
  background-color: #e1e1e1;
  letter-spacing: 2.5px;
  font-size: 2.6rem;
  padding: 6px;
  /* color: white */
}
@media (min-width: 768px) {
  .nav-principal {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-principal a:hover {
    font-size: 1.6rem;
  }
}


/**Hero */
.hero {
  /*background-image: url(../images/principal.jpg);*/
  width: 100%;
  max-height: 55rem;
}


.loader {
  width: 6.4rem;
  height: 4.8rem;
  position: relative;
  animation: split 1s ease-in infinite alternate;
}
.loader::before , .loader::after {
  content: '';
  position: absolute;
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  left: 0;
  top: 0;
  transform: translateX(-10px);
  background: #FF3D00;
  opacity: 0.75;
  backdrop-filter: blur(2rem);
}

.loader::after {
  left: auto;
  right: 0;
  background: #037BCF;
  transform: translateX(1rem);
}

@keyframes split {
  0% , 25%{ width: 6.4rem }
  100%{ width: 14.8rem }
}
/**LISTADO CATEGORIAS ************************************************ */
@media (min-width: 768px) {
  .listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
.categoria {
  margin-bottom: 2rem
}
@media (min-width: 768px) {
  .categoria {
    margin-bottom: 0;
  }
}
.categoria a {
  margin: 0;
  text-align: center;
  display: block;
  padding: 2rem;
  background-color: var(--color-principal);
  color: #e1e1e1;
  transition: border-radius 0.5s ease;
}
.categorias h2 {
  margin: 0;
}
.categoria img {
  width: 100%;
}
.categoria a:hover {
  background-color: var(--color-secundario);
  border-bottom-right-radius: 4rem;
  border-top-left-radius: 4rem;
}
/**Box Model */

/** BLOQUE DE SOBRE NOSOTROS ******/
.sobre-nosotros {
  margin-top: 2rem;
  background-image: linear-gradient( to bottom, transparent 50%, var(--color-principal) 50%, rgb(70, 67, 67) 100%),
  url('../ImagenesGamer/sobre-nosotros-gamer.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%, 120rem;
}
@media (min-width: 768px) {
  .sobre-nosotros {
    margin-top: 2rem;
    padding: 10rem 0;
    background-image: linear-gradient( to right, transparent 50%, var(--color-principal) 50%, rgb(70, 67, 67) 100%),
    url('../ImagenesGamer/sobre-nosotros-gamer.jpg');
    background-position: left center;
  }
}
.sobre-nosotros-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-row: 2 / 3;
}
@media (min-width: 768px) {
  .sobre-nosotros-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-column: 2 / 3;
    grid-template-rows: unset;
  }
}
.texto-nosotros {
  grid-row: 2 / 3;
  padding-left: 5rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .texto-nosotros {
    grid-column: 2 / 3;
  }
}
.texto-nosotros h2 {
  color: #e1e1e1;
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .texto-nosotros h2 {
    padding-top: 0;
  }
}
.texto-nosotros p {
  color: #aca0a0;
  font-size: 1.8rem;
}
/**CONTENIDO PRINCIPAL CATEGORIA PRODUCTOS ****************************/
/* .contenido-principal {
  padding-top:5rem;
} */
.listado-productos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}
.producto:nth-child(1) {
  grid-column: 1/7;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.producto:nth-child(1) img {
  height: 43rem; /**moment*/
  width: 100%;
  object-fit: cover;
}
.producto:nth-child(2) {
  grid-column: 1/4;
}
.producto:nth-child(2) img,
.producto:nth-child(3) img,
.producto:nth-child(4) img,
.producto:nth-child(5) img,
.producto:nth-child(6) img{
  height: 30rem;
  width: 100%;
  object-fit: cover;
}
.producto:nth-child(3) {
  grid-column: 4/7;
}
.producto:nth-child(4) {
  grid-column: 1/3;
}
.producto:nth-child(5) {
  grid-column: 3/5;
}
.producto:nth-child(6) {
  grid-column: 5/7;
}
.producto { 
  background-color: var( --color-secundario);
}
.texto-producto {
  text-align: center;
  color: #e1e1e1;
  padding: 2rem
}
.texto-producto h3 {
  margin-bottom: 0;
}
.texto-producto p {
  margin: 0 0 .4rem 0;
}
.texto-producto .precio {
  font-size: 2.8rem;
  font-weight: 700;
}
.producto img:hover {
  transform: scale(.95)
}
.producto img {
  transition: transform 0.5s ease-in-out;
}
/** FOOTER **************/
.site-footer {
  border-top: 1px solid #e1e1e1;
  margin-top: 8rem;
  padding-top: 4rem;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.nav-footer {
  display: flex;
  flex-direction: column;
}
.site-footer .copyright {
  margin-top: 5rem;
  text-align: center;
}

/***** Section *****/
/*********************SOBRE NOSOTROS PAGE **********************/

.contenido-nosotros {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 5rem;
}
.img-sobre-nosotros {
  width: 100%;
  object-fit: cover;
  border-radius: 9%;
  box-shadow: 10px 6px 21px 0px rgba(0,0,0,0.75);
}
.informacion-nosotros {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

/***** End Section *****/


/***** Section *****/
/*********************BLOG PAGE **********************/
.contenedor-blog {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.entrada {
  border-bottom: 2px solid #e1e1e1;
  padding-bottom: 4rem;
  margin-bottom: 2rem;
}
.entrada:last-of-type {
  border: none;
}
.entrada-meta {
  display: flex;
  justify-content: space-between;
}
.entrada-meta p {
  font-weight: bold;
}
.entrada-meta span {
  color: var(--color-secundario);
}
.contenido-entrada-blog {
  width: 60rem;
}
/***** End Section *****/

/***** GALERIA PAGE *********************/
.images-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 0;
  padding: 0;
  list-style: none;
} 
.images-list img {
  max-height: 20rem;
  width: 40rem;
  object-fit: cover;
}

/***** End GALERIA PAGE *********************/

/***** Formulario *****/
.formulario {
  max-width: 60rem;
  margin: 0 auto;
}
.formulario fieldset {
  border-width: 2px;
  margin-bottom: 2rem;
}
.formulario legend {
  width: 100%;
  background-color: var(--color-secundario);
  color: white;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
  padding: 1rem;
}
.campo {
  display: flex;
  margin-bottom: 2rem;
}
.campo label {
  flex-basis: 10rem;
}
.campo input:not([type="radio"]),
.campo select,
.campo textarea{
  flex: 1;
  border: 1px solid #e1e1e1;
  padding: 1rem;
}
/***** End Formulario *****/