html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/**  Globales **/
a {
  text-decoration: none;
  color: #000;
}
.container {
  max-width: 1200px;
  margin-inline: auto;
}
.nombre-sitio {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.nombre-sitio span {
  color: #037bc0;
}
/**############## Navegacion ####################### */
.nav-principal {
  border-top: 1px solid rgb(212, 211, 211);
  width: 75%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-principal a:hover {
  background-color: #e1e1e1;
  color: white
}

/**Hero */
.hero {
  /*background-image: url(../images/principal.jpg);*/
  width: 100%;
  height: 550px;
}

/**Box Model */
.sobre-nosotros {
  background-color: red;
  width: 200px;
  padding: 25px;
}

.loader {
  width: 64px;
  height: 48px;
  position: relative;
  animation: split 1s ease-in infinite alternate;
}
.loader::before , .loader::after {
  content: '';
  position: absolute;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  left: 0;
  top: 0;
  transform: translateX(-10px);
  background: #FF3D00;
  opacity: 0.75;
  backdrop-filter: blur(20px);
}

.loader::after {
  left: auto;
  right: 0;
  background: #037BCF;
  transform: translateX(10px);
}

@keyframes split {
 0% , 25%{ width: 64px }
 100%{ width: 148px }
}
  